.product-attr-container {
    padding: 20px;
    border: 1px solid gray;

    .product-attr {
        padding: 20px;
        border: 1px solid gray;
    }
}

.product-attr-container.default {
    padding: 0;
    border: 0;
}